<div class='container'>
  <p id="notice"><%= notice %></p>
  
  <!-- TODO: Refactor all these eventually -->
  <div id="chat_room_json_data_url" class='hidden'>
    <%= "#{chat_room_url(@chat_room.id)}.json" %>
  </div>

  <div id="sender_id" class='hidden'><%= current_user.id %></div>

  <div id="chat_room_id" class='hidden'><%= @chat_room.id %></div>

  <div id="participant_ids" class='hidden'><%= @chat_room.participant_ids %></div>
  <p>
    <strong>Chat Room Creator:</strong>
    <%= @chat_room.creator.email %>
  </p>

  <div id='loading_div' class='hidden'>Refreshing Messages...</div>

  <ul id="chat_room_message_list">

  </ul>
  
  <!-- Refactor this in regular javascript and HTML eventually 
  <form id="message_form">
    <label for="content">Message Content:</label><br>
    <input type="text" id="message_content" name="content"><br>
    <input type="submit" value="Send Message">
  </form> -->

   <%= form_for @chat_room.messages.build, url: chat_room_messages_path(@chat_room), as: :message, remote: true do |f| %>
      <%= f.hidden_field :sender_id, value: current_user.id %>
      <%= f.text_field :content, required: true, placeholder: "Type message here..." %>
      <%= f.submit "Send Message" %>
  <% end %>

</div>



